{% extends 'admin/headerfooter.html' %}
{% block content %}
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					<h2 class="title1">Tables</h2>
					<div class="panel-body widget-shadow">
						<h4>Products:</h4>
						<table class="table">
							<thead>
								<tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
       <th scope="col">Email</th>
      <!-- <th scope="col">Password</th> -->
      <!-- <th scope="col">Reject</th> -->

      <!-- <th scope="col">Description</th>
      <th>edit</th>
      <th>Reject</th> -->
    </tr>
  </thead>
  <tbody>
  	<tr>
  		{% for x in data %}
  		<td>{{forloop.counter}}</td>
  		<td>{{x.name}}</td>
  		<td>{{x.email}}</td>
  		<!-- <td>{{x.password}}</td> -->
  		<!-- <td><img src="{{x.image.url}}" width="25px" height="25px"></td>
  		<td>{{x.description}}</td>
  		<td><a href="/products_update/?id={{x.id}}">update</a></td> -->
  		<!-- <td><a href="/users_rejects/?id={{x.id}}">reject</a></td> -->
  	</tr>
  	{% endfor %}
    </tbody>
  </table>
</div>

  </div>
{% endblock %}